    body {
      background-color: #f8f9fa;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-box {
      max-width: 500px;
      width: 100%;
      background: #fff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    }

    .form-label {
      font-weight: 500;
    }

    .submit-btn {
      background-color: #000;
      color: white;
      border: none;
    }

    .submit-btn:hover {
      background-color: #f6f2f2;
      color: black;
     
    }

    .login-heading {
      font-size: 1.75rem;
      font-weight: 700;
    }

    .login-links a {
      display: inline;
      font-size: 0.9rem;
      text-decoration: none;
      color: #007bff;
    }

    .login-links a:hover {
      text-decoration: underline;
    }

    @media (max-width: 576px) {
      .login-box {
        padding: 30px 20px;
      }

      .login-heading {
        font-size: 1.5rem;
      }
    }